{% extends "polls/base_template.html" %}


{% block title %}Poll Details{% endblock %}

{% block content %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form action="{% url 'polls:vote' question.id %}" method="post" class="mt-4">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend><h1>{{ question.question_text }}</h1></legend>
                    <legend><h4>Publication time: {{ question.pub_date }}</h4></legend>
                    {% if question.was_published_recently %}
                    <div class="alert alert-success" role="alert">
                        Published recently!
                    </div>
                    {% endif %}
                    {% if error_message %}
                        <div class="alert alert-danger" role="alert">
                            <strong>{{ error_message }}</strong>
                        </div>
                    {% endif %}
                    {% for choice in question.choice_set.all %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                            <label class="form-check-label" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                        </div>
                    {% endfor %}
                </fieldset>
                <button type="submit" class="btn btn-primary">Vote</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}